apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: frigate
data:
  config.yaml: |
    mqtt:
      host: mosquitto-mqtt.mosquitto.svc.calfolguera.com
    tls:
      enabled: False
    auth:
      enabled: True
      failed_login_rate_limit: "1/second;5/minute;20/hour"
      #reset_admin_password: True
      cookie_name: frigate_token
      cookie_secure: True
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-aac
    detect:
      enabled: True
    review:
      alerts:
        enabled: True
        labels:
          - car
          - person
      detections:
        enabled: True
        labels:
          - car
          - person
          - bicycle
          - motorcycle
          - dog
    record:
      enabled: True
      retain:
        days: 10
        mode: motion
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        retain:
          days: 30
          mode: motion
    go2rtc:
      streams:
        cf-cam-hikvision1: ffmpeg:rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.25:554/h264/ch1/main/av_stream#video=copy#audio=copy#audio=aac#hardware
    cameras:
      cf-cam-hikvision1:
        ffmpeg:
          inputs:
            #- path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.25:554/h264/ch1/main/av_stream
            - path: rtsp://127.0.0.1:8554/cf-cam-hikvision1
              roles:
                - audio
                - record
            - path: rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.1.25:554/h264/ch2/main/av_stream
              roles:
                - detect
        webui_url: https://192.168.1.25
        zones:
          Garden:
            coordinates: 
              0.902,0.62,0.139,0.618,0.229,0.224,0.432,0.187,0.432,0.3,0.849,0.29
            loitering_time: 0
        motion:
          mask: 0.371,0.617,0.418,0.448,0.464,0.439,0.411,0.616
        review:
          alerts:
            required_zones: Garden
          detections:
            required_zones: Garden
